 
CREATE TABLE [BLOG](
	[BLOG_ID] [bigint] NOT NULL,
	[FAC_ID] [bigint] NOT NULL,
	[BLOG_NAME] [varchar](200) NULL
) ON [PRIMARY]

GO
 
CREATE TABLE [FACULTY](
	[FAC_ID] [bigint] NOT NULL,
	[UNI_ID] [bigint] NOT NULL,
	[FAC_NAME] [varchar](300) NOT NULL,
	[FAC_ABBR] [varchar](10) NULL,
	[FAC_ADDR] [varchar](200) NOT NULL,
	[FAC_WEB] [varchar](100) NULL,
	[FAC_EMAIL] [varchar](100) NULL,
	[FAC_TEL] [varchar](50) NULL
) ON [PRIMARY]

GO
 
CREATE TABLE [POST](
	[POST_ID] [bigint] NOT NULL,
	[USR_ID] [bigint] NOT NULL,
	[THREAD_ID] [bigint] NOT NULL,
	[POST_CON] [varchar](1000) NOT NULL,
	[POST_LIKES] [bigint] NULL,
	[POST_DISLIKES] [bigint] NULL,
	[POST_CRON] [datetime] NOT NULL
) ON [PRIMARY]

GO
 
CREATE TABLE [READING_ROOM](
	[RROOM_ID] [bigint] NOT NULL,
	[FAC_ID] [bigint] NULL,
	[UNI_ID] [bigint] NULL,
	[RROOM_NAME] [varchar](200) NULL,
	[RROOM_LON] [decimal](10, 6) NULL,
	[RROOM_LAT] [decimal](10, 6) NULL,
	[RROOM_DIM] [int] NOT NULL,
	[RROOM_WTF] [datetime] NOT NULL,
	[RROOM_WTT] [datetime] NOT NULL,
	[RROOM_IDX] [bit] NOT NULL,
	[RROOM_IDXF] [datetime] NULL,
	[RROOM_IDXT] [datetime] NULL
) ON [PRIMARY]

GO
 
CREATE TABLE [REPORT](
	[REPO_ID] [bigint] NOT NULL,
	[POST_ID] [bigint] NULL,
	[USR_ID] [bigint] NOT NULL,
	[THREAD_ID] [bigint] NULL,
	[REPO_REASON] [varchar](500) NOT NULL,
	[REPO_CRON] [datetime] NOT NULL,
	[REPO_ACCEPT] [bit] NULL
) ON [PRIMARY]

GO
 
CREATE TABLE [RESERVATION](
	[RES_ID] [bigint] NOT NULL,
	[USR_ID] [bigint] NOT NULL,
	[RES_ETA] [datetime] NOT NULL,
	[RES_ETD] [datetime] NOT NULL
) ON [PRIMARY]

GO
 
CREATE TABLE [RESERVED_SEATS](
	[RES_ID] [bigint] NOT NULL,
	[SEAT_ID] [bigint] NOT NULL,
 CONSTRAINT [PK_RESERVED_SEATS] PRIMARY KEY CLUSTERED 
(
	[RES_ID] ASC,
	[SEAT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
 
CREATE TABLE [SEAT](
	[SEAT_ID] [bigint] NOT NULL,
	[RROOM_ID] [bigint] NOT NULL,
	[SEAT_POSITION] [int] NOT NULL,
	[SEAT_LABEL] [varchar](100) NOT NULL
) ON [PRIMARY]

GO
 
CREATE TABLE [THREAD](
	[THREAD_ID] [bigint] NOT NULL,
	[BLOG_ID] [bigint] NOT NULL,
	[USR_ID] [bigint] NOT NULL,
	[THREAD_H] [varchar](200) NOT NULL,
	[THREAD_CON] [varchar](1000) NOT NULL,
	[THREAD_CRON] [datetime] NOT NULL
) ON [PRIMARY]

GO
 
CREATE TABLE [UNIVERSITY](
	[UNI_ID] [bigint] NOT NULL,
	[UNI_NAME] [varchar](300) NOT NULL,
	[UNI_CITY] [varchar](200) NULL
) ON [PRIMARY]

GO
 
CREATE TABLE [USER](
	[USR_ID] [bigint] NOT NULL,
	[FAC_ID] [bigint] NULL,
	[USR_USERNAME] [varchar](100) NOT NULL,
	[USR_PASS] [varchar](100) NOT NULL,
	[USR_EMAIL] [varchar](100) NULL,
	[USR_NAME] [varchar](100) NULL,
	[USR_LNAME] [varchar](100) NULL,
	[USR_IDX] [varchar](100) NULL,
	[USR_ROLE] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
INSERT [UNIVERSITY] ([UNI_ID], [UNI_NAME], [UNI_CITY]) VALUES (1, N'Univerzitet u Novom Sadu', N'Novi Sad')
INSERT [UNIVERSITY] ([UNI_ID], [UNI_NAME], [UNI_CITY]) VALUES (2, N'Univerzitet u Beogradu', N'Beograd')
INSERT [UNIVERSITY] ([UNI_ID], [UNI_NAME], [UNI_CITY]) VALUES (3, N'Univerzitet u Nišu', N'Niš')

INSERT [FACULTY] ([FAC_ID], [UNI_ID], [FAC_NAME], [FAC_ABBR], [FAC_ADDR], [FAC_WEB], [FAC_EMAIL], [FAC_TEL]) VALUES (1, 1, N'Fakultet Tehničkih Nauka', N'FTN', N'Trg Dositeja Obradovića 6', N'ftn.uns.ac.rs', N'contact@ftn.uns.ac.rs', N'021/123-456')
INSERT [FACULTY] ([FAC_ID], [UNI_ID], [FAC_NAME], [FAC_ABBR], [FAC_ADDR], [FAC_WEB], [FAC_EMAIL], [FAC_TEL]) VALUES (2, 1, N'Prirodno matematički fakultet', N'PMF', N'Trg Dositeja Obradovića 5', N'www.pmf.uns.ac.rs', N'contact@pmf.uns.ac.rs', N'021/321-687')
INSERT [FACULTY] ([FAC_ID], [UNI_ID], [FAC_NAME], [FAC_ABBR], [FAC_ADDR], [FAC_WEB], [FAC_EMAIL], [FAC_TEL]) VALUES (0, 0, N'Default', NULL, N'Default', NULL, NULL, NULL)

INSERT [USER] ([USR_ID], [FAC_ID], [USR_USERNAME], [USR_PASS], [USR_EMAIL], [USR_NAME], [USR_LNAME], [USR_IDX], [USR_ROLE]) VALUES (1, 0, N'admin', N'admin', N'admin@gmail.com', N'Miloš', N'Marić', N'RA19/2012', N'Administrator')
INSERT [USER] ([USR_ID], [FAC_ID], [USR_USERNAME], [USR_PASS], [USR_EMAIL], [USR_NAME], [USR_LNAME], [USR_IDX], [USR_ROLE]) VALUES (2, 1, N'Sandras2', N'asd', N'nesto@yahoo.com', N'Imenko', N'Prezimić', N'MH15/2015', N'Student')
INSERT [USER] ([USR_ID], [FAC_ID], [USR_USERNAME], [USR_PASS], [USR_EMAIL], [USR_NAME], [USR_LNAME], [USR_IDX], [USR_ROLE]) VALUES (6, 1, N'user1', N'user1', N'nnikolic@gmail.com', N'Nikola1', N'Nikolić', N'RA11/2012', N'Student')

INSERT [READING_ROOM] ([RROOM_ID], [FAC_ID], [UNI_ID], [RROOM_NAME], [RROOM_LON], [RROOM_LAT], [RROOM_DIM], [RROOM_WTF], [RROOM_WTT], [RROOM_IDX], [RROOM_IDXF], [RROOM_IDXT]) VALUES (1, 1, 0, NULL, CAST(0.000000 AS Decimal(10, 6)), CAST(0.000000 AS Decimal(10, 6)), 25, CAST(0x0000A6710052AAAB AS DateTime), CAST(0x0000A6710139612B AS DateTime), 0, CAST(0x0000A671014A3C65 AS DateTime), CAST(0x0000A671014A3C65 AS DateTime))
INSERT [READING_ROOM] ([RROOM_ID], [FAC_ID], [UNI_ID], [RROOM_NAME], [RROOM_LON], [RROOM_LAT], [RROOM_DIM], [RROOM_WTF], [RROOM_WTT], [RROOM_IDX], [RROOM_IDXF], [RROOM_IDXT]) VALUES (2, 3, 0, NULL, CAST(0.000000 AS Decimal(10, 6)), CAST(0.000000 AS Decimal(10, 6)), 50, CAST(0x0000A672004A3D8E AS DateTime), CAST(0x0000A672015A26EE AS DateTime), 1, CAST(0x0000A672004A3D8E AS DateTime), CAST(0x0000A6720083EB2E AS DateTime))
INSERT [READING_ROOM] ([RROOM_ID], [FAC_ID], [UNI_ID], [RROOM_NAME], [RROOM_LON], [RROOM_LAT], [RROOM_DIM], [RROOM_WTF], [RROOM_WTT], [RROOM_IDX], [RROOM_IDXF], [RROOM_IDXT]) VALUES (3, 4, 0, NULL, CAST(0.000000 AS Decimal(10, 6)), CAST(0.000000 AS Decimal(10, 6)), 20, CAST(0x0000A6740052A019 AS DateTime), CAST(0x0000A67401186119 AS DateTime), 1, CAST(0x0000A6740052A019 AS DateTime), CAST(0x0000A67400841059 AS DateTime))

INSERT [RESERVATION] ([RES_ID], [USR_ID], [RES_ETA], [RES_ETD]) VALUES (2, 6, CAST(0x0000A67800B54640 AS DateTime), CAST(0x0000A67800D63BC0 AS DateTime))
INSERT [RESERVATION] ([RES_ID], [USR_ID], [RES_ETA], [RES_ETD]) VALUES (3, 6, CAST(0x0000A67A0128A180 AS DateTime), CAST(0x0000A67A01391C40 AS DateTime))
INSERT [RESERVATION] ([RES_ID], [USR_ID], [RES_ETA], [RES_ETD]) VALUES (4, 6, CAST(0x0000A67C0083D600 AS DateTime), CAST(0x0000A67C00A4CB80 AS DateTime))


INSERT [SEAT] ([SEAT_ID], [RROOM_ID], [SEAT_POSITION], [SEAT_LABEL]) VALUES (26, 2, 1, N'1')
INSERT [SEAT] ([SEAT_ID], [RROOM_ID], [SEAT_POSITION], [SEAT_LABEL]) VALUES (27, 2, 2, N'2')
INSERT [SEAT] ([SEAT_ID], [RROOM_ID], [SEAT_POSITION], [SEAT_LABEL]) VALUES (28, 2, 3, N'3')

INSERT [RESERVED_SEATS] ([RES_ID], [SEAT_ID]) VALUES (1, 1)
INSERT [RESERVED_SEATS] ([RES_ID], [SEAT_ID]) VALUES (2, 1)
INSERT [RESERVED_SEATS] ([RES_ID], [SEAT_ID]) VALUES (3, 1)


ALTER TABLE [BLOG] ADD  CONSTRAINT [PK_BLOG] PRIMARY KEY NONCLUSTERED 
(
	[BLOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [FACULTY] ADD  CONSTRAINT [PK_FACULTY] PRIMARY KEY NONCLUSTERED 
(
	[FAC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [POST] ADD  CONSTRAINT [PK_POST] PRIMARY KEY NONCLUSTERED 
(
	[POST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [READING_ROOM] ADD  CONSTRAINT [PK_READING_ROOM] PRIMARY KEY NONCLUSTERED 
(
	[RROOM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [REPORT] ADD  CONSTRAINT [PK_REPORT] PRIMARY KEY NONCLUSTERED 
(
	[REPO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [RESERVATION] ADD  CONSTRAINT [PK_RESERVATION] PRIMARY KEY NONCLUSTERED 
(
	[RES_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [SEAT] ADD  CONSTRAINT [PK_SEAT] PRIMARY KEY NONCLUSTERED 
(
	[SEAT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [THREAD] ADD  CONSTRAINT [PK_THREAD] PRIMARY KEY NONCLUSTERED 
(
	[THREAD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [UNIVERSITY] ADD  CONSTRAINT [PK_UNIVERSITY] PRIMARY KEY NONCLUSTERED 
(
	[UNI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [USER] ADD  CONSTRAINT [PK_USER] PRIMARY KEY NONCLUSTERED 
(
	[USR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [BLOG]  WITH CHECK ADD  CONSTRAINT [FK_BLOG_RELATIONS_FACULTY] FOREIGN KEY([FAC_ID])
REFERENCES [FACULTY] ([FAC_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [BLOG] CHECK CONSTRAINT [FK_BLOG_RELATIONS_FACULTY]
GO
ALTER TABLE [FACULTY]  WITH CHECK ADD  CONSTRAINT [FK_FACULTY_RELATIONS_UNIVERSI] FOREIGN KEY([UNI_ID])
REFERENCES [UNIVERSITY] ([UNI_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [FACULTY] CHECK CONSTRAINT [FK_FACULTY_RELATIONS_UNIVERSI]
GO
ALTER TABLE [POST]  WITH CHECK ADD  CONSTRAINT [FK_POST_RELATIONS_THREAD] FOREIGN KEY([THREAD_ID])
REFERENCES [THREAD] ([THREAD_ID])
GO
ALTER TABLE [POST] CHECK CONSTRAINT [FK_POST_RELATIONS_THREAD]
GO
ALTER TABLE [POST]  WITH CHECK ADD  CONSTRAINT [FK_POST_RELATIONS_USER] FOREIGN KEY([USR_ID])
REFERENCES [USER] ([USR_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [POST] CHECK CONSTRAINT [FK_POST_RELATIONS_USER]
GO
ALTER TABLE [READING_ROOM]  WITH CHECK ADD  CONSTRAINT [FK_READING__RELATIONS_FACULTY] FOREIGN KEY([FAC_ID])
REFERENCES [FACULTY] ([FAC_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [READING_ROOM] CHECK CONSTRAINT [FK_READING__RELATIONS_FACULTY]
GO
ALTER TABLE [REPORT]  WITH CHECK ADD  CONSTRAINT [FK_REPORT_RELATIONS_POST] FOREIGN KEY([POST_ID])
REFERENCES [POST] ([POST_ID])
GO
ALTER TABLE [REPORT] CHECK CONSTRAINT [FK_REPORT_RELATIONS_POST]
GO
ALTER TABLE [REPORT]  WITH CHECK ADD  CONSTRAINT [FK_REPORT_RELATIONS_THREAD] FOREIGN KEY([THREAD_ID])
REFERENCES [THREAD] ([THREAD_ID])
GO
ALTER TABLE [REPORT] CHECK CONSTRAINT [FK_REPORT_RELATIONS_THREAD]
GO
ALTER TABLE [REPORT]  WITH CHECK ADD  CONSTRAINT [FK_REPORT_RELATIONS_USER] FOREIGN KEY([USR_ID])
REFERENCES [USER] ([USR_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [REPORT] CHECK CONSTRAINT [FK_REPORT_RELATIONS_USER]
GO
ALTER TABLE [RESERVATION]  WITH CHECK ADD  CONSTRAINT [FK_RESERVAT_RELATIONS_USER] FOREIGN KEY([USR_ID])
REFERENCES [USER] ([USR_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [RESERVATION] CHECK CONSTRAINT [FK_RESERVAT_RELATIONS_USER]
GO
ALTER TABLE [RESERVED_SEATS]  WITH CHECK ADD  CONSTRAINT [FK_RESERVED_RELATIONS_RESERVAT] FOREIGN KEY([RES_ID])
REFERENCES [RESERVATION] ([RES_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [RESERVED_SEATS] CHECK CONSTRAINT [FK_RESERVED_RELATIONS_RESERVAT]
GO
ALTER TABLE [RESERVED_SEATS]  WITH CHECK ADD  CONSTRAINT [FK_RESERVED_RELATIONS_SEAT] FOREIGN KEY([SEAT_ID])
REFERENCES [SEAT] ([SEAT_ID])
GO
ALTER TABLE [RESERVED_SEATS] CHECK CONSTRAINT [FK_RESERVED_RELATIONS_SEAT]
GO
ALTER TABLE [SEAT]  WITH CHECK ADD  CONSTRAINT [FK_SEAT_RELATIONS_READING_] FOREIGN KEY([RROOM_ID])
REFERENCES [READING_ROOM] ([RROOM_ID])
GO
ALTER TABLE [SEAT] CHECK CONSTRAINT [FK_SEAT_RELATIONS_READING_]
GO
ALTER TABLE [THREAD]  WITH CHECK ADD  CONSTRAINT [FK_THREAD_RELATIONS_BLOG] FOREIGN KEY([BLOG_ID])
REFERENCES [BLOG] ([BLOG_ID])
GO
ALTER TABLE [THREAD] CHECK CONSTRAINT [FK_THREAD_RELATIONS_BLOG]
GO
ALTER TABLE [THREAD]  WITH CHECK ADD  CONSTRAINT [FK_THREAD_RELATIONS_USER] FOREIGN KEY([USR_ID])
REFERENCES [USER] ([USR_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [THREAD] CHECK CONSTRAINT [FK_THREAD_RELATIONS_USER]
GO
ALTER TABLE [USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_RELATIONS_FACULTY] FOREIGN KEY([FAC_ID])
REFERENCES [FACULTY] ([FAC_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [USER] CHECK CONSTRAINT [FK_USER_RELATIONS_FACULTY]
GO
ALTER TABLE [SEAT]  WITH CHECK ADD  CONSTRAINT [CKC_SEAT_POSITION_SEAT] CHECK  (([SEAT_POSITION]>=(0)))
GO
ALTER TABLE [SEAT] CHECK CONSTRAINT [CKC_SEAT_POSITION_SEAT]
GO
ALTER TABLE [USER]  WITH CHECK ADD  CONSTRAINT [CKC_USR_ROLE_USER] CHECK  (([USR_ROLE]='Student' OR [USR_ROLE]='Manager' OR [USR_ROLE]='Administrator'))
GO
ALTER TABLE [USER] CHECK CONSTRAINT [CKC_USR_ROLE_USER]
GO
