@CHARSET "ISO-8859-1";

.centered{
	text-align : center;
	vertical-align:middle
}

.table{
	background-color: white;
	opacity: 0.90;
}

.table tr {
	padding: 2px;
}

.table .tableHeading {
	display: inline-block;
}

input {
	text-align: center;
}

.invalidInput {
	border: 2px solid red !important;
}

.rightSide {
	float: right;
	margin-right: 2px;
}

.leftSide {
	float: left;
	margin-left: 2px;
}

.bg{
	background: url(images/bg2.jpg) no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	color:white;
	overflow-x: overlay;
	font-family: Verdana;
}

.myOverflow {
	overflow-x: overlay
}

html,body{
  height:100vh;
  width:100vw;
  margin: 0;
  padding: 0;
}

div, h{
	color: #337ab7;
}

.messenger {
    position: fixed;
    bottom: 0;
    width: 100%;
		z-index: 10;
}

.timepicker {
	padding: 0 10% !important;
}

.timepicker1 {
	padding: 0 13% !important;
}
